body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    font-family: Arial,“微软雅黑”， SimHei;
}

label {
    background-color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}
/*头部的样式*/
#header {
    margin: 0 auto 0 auto;
}

#header {
    width: 960px;
    height: 90px;
    background: url(images/logo.png) no-repeat left center;
    background-size: 172px auto;
}
/*登录容器的样式*/
#loginwrapper {
    width: 100%;
    background: #3087C4;
    min-width: 960px;
}
/*登陆模块*/
#login {
    height: 600px;
    width: 960px;
    background-color: #3087C4;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
}

.float {
    text-align: left;
    float: left;
}

#login-intro {
    text-align: left;
    width: 640px;
    float: left;
    background: #3087C4;
    height: 535px;
}

#login-intro-img {
    text-align: left;
    width: 640px;
    float: left;
    background: #3087C4;
    padding-top: 100px;
}

#login-intro-from {
    width: 320px;
    height: 400px;
    float: left;
    margin-top: 100px;
    background-color: #FFFFFF;
}
/*登陆窗体CSS*/
#login-nav {
    width: 320px;
    height: 55px;
    line-height: 55px;
    float: left;
    padding-top: 0px;
    text-align: center;
    letter-spacing: 8px;
    color: #000;
    font-size: 18px;
}

    #login-nav label {
        background-color: #FFFFFF;
        color: #2E323E;
        text-align: center;
        font-size: 18px;
    }

#login-content {
    width: 270px;
    height: 255px;
    padding-top: 0px;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

#username {
    width: 270px;
    float: left;
    margin-bottom: 10px;
    border: solid 1px #CCCCCC;
    padding: 0px 0px 0px 0px;
    text-align: right;
    font-size: 16px;
    font-family: "微软雅黑";
}

    #username input :focus {
        border: 0px;
    }

#password {
    font-size: 16px;
    font-family: "微软雅黑";
    width: 270px;
    float: left;
    margin-bottom: 10px;
    border: solid 1px #CCCCCC;
    padding: 0px 0px 0px 0px;
    text-align: right;
}

.userimg {
    width: 16px;
    height: 28px;
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}

    .userimg img {
        width: 16px;
        height: 16px;
    }

#obligate {
    width: 270px;
    height: 28px;
    float: left;
    margin-left: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

    #obligate a {
        color: #039BE5;
        float: right;
        margin-top: 2px;
    }

#userbtnlogin {
    width: 270px;
    float: left;
    margin-bottom: 0px;
}

#userlogin {
    width: 270px;
    height: 40px;
    float: left;
    margin-bottom: 18px;
}

#userindex {
    width: 270px;
    height: 40px;
    float: left;
    margin-bottom: 0px;
}

    #userindex input:hover {
        background-color: antiquewhite;
        opacity: 0.8;
        cursor: pointer;
    }

#userlogin input:hover {
    opacity: 0.8;
    cursor: pointer;
}

    input:not([type=button]) {
        /*line-height: 22px;*/
        padding: 0px 0px;
        -webkit-transition: all .2s;
        transition: all .2s;
        /*color: #000;*/
        /*#dce4e6*/
        border: 1px solid #a5aaab;
        border-radius: 3px;
        outline: 0;
        font-size: 16px;
        /*f3f6f8*/
        background: #fff;
    }

    input::-webkit-input-placeholder {
        font-size: 16px;
    }

.btn {
    font-size: 22px;
    padding: 6px 19px;
    cursor: pointer;
    -webkit-transition: all .2s;
    transition: all .2s;
    border: 1px solid transparent;
    border-radius: 2px;
    outline: 0;
    font-family: "微软雅黑";
}

#nameerrshow {
    font-family: '微软雅黑';
    font-size: 14px;
    color: red;
    float: left;
    padding-bottom: 10px;
}

#pwderrshow {
    font-family: '微软雅黑';
    font-size: 14px;
    color: red;
    float: left;
    padding-bottom: 10px;
}

